<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.username" placeholder="Username">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.password" placeholder="password" type="password">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onRegisterClick()">Register</button>
  <button mat-button  (click)="onLoginClick()" [mat-dialog-close]="data.animal" cdkFocusInitial>Login</button>
</div>
